Repository sibiraj-s/capillaries: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

ci: update node and actions
  .github/workflows/publish.yml
  .github/workflows/tests.yml
Due: prettier --write

chore: fix pre-push hooks to run test once
  .husky/pre-push
Due: none

chore: bump dependencies
  package-lock.json
  package.json
Due: prettier --write

release: capillaries v5.0.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

chore: bump dependencies and replace eslint
  .eslintrc.yml
  .lintstagedrc.yml
  package-lock.json
  package.json
Due: prettier --write

fix: build
  gulpfile.js
Due: eslint --fix, prettier --write

chore: fix repository config
  package.json
Due: prettier --write

build: replace tsup with tsdown
  gulpfile.js
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

chore: regenerate package-lock.json
  package-lock.json
Due: prettier --write

ci: update github actions
  .github/workflows/publish.yml
  .github/workflows/tests.yml
Due: prettier --write

ci: setup trusted publish to npm
  .github/workflows/publish.yml
  .github/workflows/tests.yml
Due: prettier --write

ci: cleanup job names
  .github/workflows/tests.yml
Due: prettier --write

chore: bump dependencies
  .github/workflows/publish.yml
  .github/workflows/tests.yml
  package-lock.json
  package.json
Due: prettier --write

ci: bump node to v24
  .github/workflows/tests.yml
Due: prettier --write

ci: use npm staged publishing
  .github/workflows/publish.yml
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,ts}
  prettier --write: (any of: *.{js,ts}) or (any of: *.{md,json,yml,yaml})
